<a href="https://colab.research.google.com/github/jianteow/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼
- 2015~2016 : Java 웹 안드로이드 앱 개발
- R  
- 2017~2018 R 분석용으로 좋음 웹 단점 부각
- 회사의 실 선호는 웹
- Physon 부각
- why ; 범용성---> 데이터분석, 간단한 프로그램, 앱개발, 보안관련, 게임개발 가능

In [ ]:
1+1

2

In [ ]:
5-2

3

In [ ]:
5 - 2

3

In [ ]:
15*2

30

In [ ]:
#나눗셈
#Python3.x 실수
2.x 정수
10/2
 #정수/정수===> 반환값은 실수형

5.0

### 실수연산

In [ ]:
print(1.2+5.2)  # 덧셈
print(6.3-4.7) # 뺄셈
4.8*6.1 #곱셈

6.4
1.5999999999999996

29.279999999999998

### 연산규칙

-(1) 괄호안 계산
- (2) 지수 계산
-(3) 곱셈과 나눗셈 계산
-(4) 덧셈과 뺄셈 계산
-(5) 같은 순위 연산이면, 완쪽에서 오른쪽
-(6) 중복된 괄호가 잇을 경우, 안쪽에서부터 처리

In [ ]:
print(2+3*4)

14

In [ ]:
print(3/2*4-5/2)

3.5

In [ ]:
print((5*4-15)+(5-2)*(9-7))

11

##type()
- 함수 : 특정기능을 수행하도록 만든 블랙박스
 + 특정함수를 조건만 맞춰주면 동작

함수의 종류치연산 주요 라이즈러리
- 내장(buil-in) 함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + 종류는 몇개? 몰라요...
 + 5~8주차 Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

- 라이브러리에서 제공하는 함수
 + R : 패키지, Python : 라이브러리
 + 목적이 분명
  - 웹 사이트 개발 : 웹사이트와 관련된 라이브러리를 별고 설치
  - 통계분석 : 통계분석
  - 시각화 : 시각화와 관련
  - 게임개발 : 개임개발과 관련된
  - 수치연산 주요 라이브러리 : numpy(주), scipy : 통계책으로 실습 예정

In [17]:
# 파이션에서 정수를 어떻게 표현할까?
#            실수
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

In [18]:
print(type(~~~))

SyntaxError: ignored

 - 파이썬은 객체지향 언어입니다.

## 거듭제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
 + A는 밑, n을 지수라고 표현

In [19]:
print(2*2*2*2*2)

32

In [20]:
print(2**5) # 거듭제곱

32

- 나머지

In [22]:
 13%

3

In [21]:
# 몫을 구하고 싶음
13//5

2

- 교재 표 3-1( p34) 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 아주 작은 수를 다뤄야 하는 케이스
 + 빛은 초당 30만 Km
 + 단위를 m/s로 표현하면, 300,000,000 m/s
 +3*10^8

In [23]:
3*10**8

300000000

In [24]:
3e8  #과학적 표기  cf. 자연로그e에 대한것은 별도 라이브러리 존재

300000000.0

In [29]:
print(3e-4) # 소수점 n 번째 자리 scientific notation

0.0003

##진수 표현과 변환
 - 우리 일상 10 진법
 - 60진법 : 60초가 1분이고, 60분이 1시간
 - 12진법 : 오전 12시간, 오후12시간 1년 12달
 - 컴퓨터 프로그래밍 , 숫자 0과 1로 이루어진 2진법 수행
 - 8진법 : 0~7까지의 숫자
 - 16진법 : 0~9, a,b, c,d,e,f
 - 메서드
  + bin() : 10진수를 2진수로 변환
  + oct() : 10진수를 8진수로
  + hex() : 10진수를 16진수로

In [ ]:
17 # 10진법

In [ ]:
0b10001 # 2진법

In [ ]:
0o21 # 8진법

In [ ]:
0x11 # 16진법

## 논리 연산 및 비교연산 (매우 중요!)
 - 참/거짓
 - 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [30]:
print((True))

True

In [32]:
print((False))

False

In [33]:
print(type((True)))

<class 'bool'>

## 논리 연산자
 - and : A and B : A와 B 모두 참일 때 참
 - or : A or B : A 또는 B 중 하나라도 참이면 참, 둘 다 거짓일 때 거짓
 - not : noe A : A가 참일 때 거짓, A가 거짓이면 참

In [34]:
# 교집합
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [35]:
# 합집합
print(True or True)  # True 또는 True가 결과로  나오도록 "의도적으로" 만들어야함
print(False or False)

True
True
False

In [36]:
print(not True)
print(not False)

False
True

비교연산지

In [39]:
# True 또는 True가 결과로  나오도록 "의도적으로" 만들어야함
1 == 1

True

In [40]:
1 == 2

False

In [41]:
1!=2  # a와 b는 같지 않다

True

In [42]:
1<=2  # a와 b는 같거나 작다

True

In [44]:
1< 2 # a와 b보다 작다

True

In [45]:
1 >= 2 # a는 b는 같거나 크다

False

In [46]:
1 > 2 # a는 b보다 크다

False

### 비교연산자 + 논리연산지

In [47]:
1 > 0 and -2 < 0  # 비교연산자 (1순의) 논리연산자 (2순의)
 true and true

True

In [48]:
(3 < 0) and (-5 > 0) and ( 1 > 5)
true and   False  and true
 true and   False ,  False  and true

False

 ## github 활용법

  - 그룹핑
   + Repo 1. 학습/ 교육 :  edu, MulCamp - lecture
     = 시각화, djamgo, pandas
   + Repo 2. Projects
   + Repo 3. 00 공모전

 - 옵션() :  자기소개 Repo
  + 링크추가(Repo2)


--- 이렇게는 금지
- mulcamp24_1227
- mulcamp24_1228

# Chapter 4. 변수와 자료형

## 변수 : Variable  (p. 42)

변수명 = data
오른쪽에서 왼쪽 진행
data를 변수 명에 할당하는 것.

In [56]:
a=1     # 변수 : Variable, 데이타
print(a)

1

In [55]:
print(a)     # data 수정 후 "실행" 해야 변경 값 반영 됨 ' 런타임'> 이후 셀 실행

100

In [ ]:
a = 1000
b + 1110
#
#
#
#

### 변수명 짓기 규칙
 - snake, camel

In [4]:
# snake
num_a = 100
num_b = 110

#camel
myStudent = "evan" #  변수명 작성시 공백 불가
mySchool = "학교이름"

# 주의사할
3star = "이장군"  # 앞에 숫자가 오면 안됨

SyntaxError: ignored

In [8]:
# print = 100
print(num_a)  # 내장함수명을 변수명으로 만들면 안됨 !

NameError: ignored

In [2]:
num = 1
Num = 100

In [3]:
print(num)
print(Num)

1
100

### 예약어는 변수명으로 이용 할 수 없음 (p.45)
 - print, True, etc, Name

### 변수의 반대어 : 상수
- 한번 지정 후 변하지 않는 고정값

In [7]:
# 실제 변수를 만들어 보기
num1 = input("숫자를 입력해주세요!!")
num2 = input("숫자를 입력해주세요!!")

print(num1,num2)

숫자를 입력해주세요!!4
숫자를 입력해주세요!!6
4 6

In [ ]:
 # 상수
 pi = 3.14

In [8]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!")  # 숫자를 입력해도 기본값은 문자열로 반환 (함수특징)
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [10]:

print (num1 + num2)

'100200'

In [12]:
print(type(num1 ) )  # <class 'str'> 문자열
print(type(num2) )   # <class 'str'> 문자열

<class 'str'>
<class 'str'>

In [ ]:
# 프로그래밍 문자열로 표현하고 싶다 !
 "" or ''
 숫자, "문자 " # 숫자 와 달리 문자는 ""로 명시 해줘야 함

In [ ]:
a = '100'  # 문자열 100
b = '5000' # 문자열 5000

In [ ]:
형 변환

# 하고 싶은 것 : 사칙연산
# 해결방안 : 문자열 100을 숫자 100으로 변경하면 될 것 같음
#코드를 찾기

In [14]:
print(int("100"))
print(type(int("100")))

100
<class 'int'>

In [15]:
string_num = "42"
int_num = int(string_num)
print(int_num)  # Output: 42

42

In [21]:
num1 = "100"
num2 = "200"

num_a = int(num1)
num_b = int(num2)
print(int(num1) + int(num2))
print(num_a +num_b)

300
300

## 문자열
 - "" (큰따음표) 또는  ''(작은 따음표) 지정   ''가 좀 더 적용이 잘됨

In [26]:
# 원칙 : ""  or '' , 혼용 안됨
greeting = 'Hello String'
print( greeting )

Hello String

In [27]:
iong_string1 = '''
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
'''

print(iong_string1)

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [29]:
iong_string1 = """
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
"""

print(iong_string1)

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3